.main-body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #5C469C;
}

.topnav {
    background-color: #1D267D;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
        float: left;
        color: wheat;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}


  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #5C469C;
    color: wheat;
  }
  
  /* Add a color to the active/current link */
  .topnav a.home {
    background-color: #0C134F;
    color: wheat;
  }

  .topnav a.home:hover {
    background-color: #5C469C;
  }

  .intro {
    width: 100%;
    height: 400px;
    background-color: #F7ECDE;
  }
  
  .intro img {
    width: 100%;
    height: 400px;
  }

  .card1 {
    float: left;
    margin-top: 15px;
    padding: 10px;
    position: relative;
  }

  * {box-sizing:border-box}

 /* body {
    background-color: #f2f2f2;
    font-family: "RobotoDraft", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  */
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
  }
  
  p {
    font-size: 12px;
  }
  
  .center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* End Non-Essential  */
  
  .property-card {
    height: 18em;
    width: 14em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  }

  .property-card-large {
    height: 18em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  }
  /* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
  
  /* Top Half of card, image. */
  
  .property-image {
    height: 6em;
    width: 14em;
    padding: 1em 2em;
    position: relative;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url("https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .property-image-large {
    height: 6em;
    width: 750px;
    padding: 1em 2em;
    position: relative;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url("card-img-large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* Bottom Card Section */
  
  .property-description {
    background-color: #D4ADFC;
    height: 12em;
    width: 14em;
    position: relative;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
  }
  .property-description-large {
    background-color: #D4ADFC;
    height: 12em;
    width: 750px;
    position: relative;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
  }
  
  /* Social Icons */
  
  .property-social-icons {
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 1em;
    left: 1em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  /* Property Cards Hover States */
  
  .property-card:hover .property-description {
    height: 0em;
    padding: 0px 1em;
  }
  .property-card:hover .property-image {
    height: 18em;
  }
  
  .property-card-large:hover .property-description-large {
    height: 0em;
    padding: 0px 1em;
  }
  .property-card-large:hover .property-image-large {
    height: 18em;
}
  
  .property-card:hover .property-social-icons {
    background-color: white;
  }
  
  .property-card:hover .property-social-icons:hover {
    background-color: blue;
    cursor: pointer;
  }


  
  
  
